@font-face {
  font-family: 'EB Garamond';
  src: local('EB Garamond'), url('../fonts/EBGaramond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reem Kufi';
  src: local('Reem Kufi'), url('../fonts/ReemKufi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "EB Garamond", Palatino, Optima, Candara, Calibri, Arial, sans-serif;
  font-size: 20px;
}
code {
  font-family: "Pragmata Pro Mono", Monaco, monospace;
  font-size: 16px;
}