@font-face {
  font-family: 'EB Garamond';
  src: local('EB Garamond'), url('../fonts/EBGaramond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reem Kufi';
  src: local('Reem Kufi'), url('../fonts/ReemKufi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Optima';
  src: local('Optima'), url('../fonts/Optima.ttc') format('truetype-collection');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmata Pro';
  src: local('Pragmata Pro'), url('../fonts/Pragmata\ Pro\ Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Math';
  src: local('Latin Modern Math'), url('../fonts/latin-modern-math.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Sans';
  src: local('Latin Modern Sans'), url('../fonts/latin-modern-sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Latin Modern Math', 'EB Garamond';
  font-size: 18px;
}
code {
  font-family: "Latin Modern Sans", "Pragmata Pro", monospace;
  font-size: 16px;
}